.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin: 0 auto;
    max-width: 1350px;
    

        .content-images img{
            // display: flex;
            padding: 0 20px 20px 0;
            background-color: aqua;
        }
}